Django>=4.0,<5.0
gunicorn==21.2.0
dj-database-url
psycopg2-binary
whitenoise
django-allauth
django-crispy-forms
crispy-bootstrap5
django-countries
django-widget-tweaks
googletrans==4.0.0-rc1
xhtml2pdf
psycopg2-binary==2.9.5
whitenoise
psycopg2-binary
googletrans==4.0.0-rc1
