# Django and Server
Django
gunicorn
whitenoise
dj-database-url
psycopg2-binary
python-dotenv

# Authentication
django-allauth

# Forms and Widgets
django-crispy-forms
crispy-bootstrap5
django-widget-tweaks

# Internationalization & Utilities
django-countries
googletrans==4.0.0-rc1
Pillow

# PDF & Report Generation
xhtml2pdf
hstspreload==2025.1.1
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
lxml==6.0.0
oauthlib==3.3.1
oscrypto==1.3.0
packaging==25.0
pycparser==2.22
pyHanko==0.27.1
pyhanko-certvalidator==0.26.8
PyJWT==2.9.0
pypdf==5.9.0
pypng==0.20220715.0
python-bidi==0.4.2
python3-openid==3.2.0
pytz==2025.2
PyYAML==6.0.2
qrcode==7.4.2
reportlab==3.6.12
requests==2.32.4
requests-oauthlib==2.0.0
rfc3986==1.5.0
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
svglib==1.5.1
tinycss2==1.4.0
typing_extensions==4.13.2
tzlocal==5.2
uritools==4.0.3
urllib3==2.2.3
webencodings==0.5.1
python-dotenv
